parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	router: App\Router\RouterFactory::createRouter
	db.user: App\Storm\UserRepository
	db.product: App\Storm\ProductRepository

extensions:
	storm: \StORM\Bridges\StormDI
	migrator: \Migrator\Bridges\MigratorDI
	pages: \Pages\Bridges\PagesDI

storm:
	debug: true
	connections:
		default:
			host: localhost
			dbname: storm_test
			user: root
			password: ""
			collate: utf8_czech_ci
			mutations:
				'cz': '_cz'
				'en': '_en'
			primaryKeyGenerator: StORM\DIConnection::generateUuid

migrator:
	engine: InnoDB

pages:
	types:
		index:
			name: "Úvodní strana"
			plink: "Web:Index:default"
			defaultMask: ""
		productsList:
			name: "Výpis produktů"
			plink: "Products:Products:default"
			defaultMask: "produkty"
		productDetail:
			name: "Detail produktu"
			plink: "Products:Products:detail"
			defaultMask: "p/<product>"
	mutations:
		'cz': 'cz'
		'en': 'en'